<div class="jumbotron text-center">
 
  <h3>Ghi Chú Công Việc</h3>
  <a href="/posts/add" class="btn btn-success btn-lg">Thêm Ghi Chú Mới</a>
  <a href="/posts/list" class="btn btn-info btn-lg">Danh Sách Ghi Chú</a>
</div>