<div class="card card-body">
  <h3>Thêm Ghi Chú Mới</h3>
  {{#if message}}
    <div class="error">
      <span style="color: red">{{message}}</span>
    </div>
  {{/if}}
  <form action="/posts/store" method="post">
    <div class="form-group">
      <label for="title">Tiêu Đề</label>
      <input
        type="text"
        class="form-control"
        name="title"

        value="{{title}}"
      />
    </div>

    <div class="form-group">
      <label for="title">Nội Dung</label>
      <textarea class="form-control" name="text" >{{{text}}}</textarea>
    </div>
    <button class="btn btn-primary">Thêm Ghi Chú</button>
  </form>
</div> 